.container_building{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 2rem 0 5rem 0;
}

.title_build{
    font-family: "Patua One", cursive;
    color: aliceblue;
}

.error{
    color: aliceblue;
}