.dashboard{
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  padding: 0.5em;
}

.dashboard h2{
  font-family: 'Patua One', cursive;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
    color: inherit;
    text-decoration: none;
    border: 1.5px solid #eaeaea;
    border-radius: 10px;
    max-width: 350px;
    border-color: #BEAEE2;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    background-color: #ae99c279
  }
  
  .card h3 {
    font-family: 'Patua One', cursive;
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.1rem;
    line-height: 1;
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
    
    .dashboard{
      justify-content: center;
      align-items: center;
      max-width: 350px;
    }
    
  }