.footer {
  font-family: "Patua One", cursive;
  background-color: #bf8df2;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.footer a {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer iframe{
  border-radius: 12px;
}