.footer {
  font-family: "Patua One", cursive;
  background-color: #BEAEE2;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.foot_icons{
  width: 350px;
  border-top: solid 1px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot_icons a {
  padding: 1rem;
}