.container_header{
  display: flex;
  flex-direction: column;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
  font-family: Patua One;
}  

.title a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }

.logo{
    width: 50px;
    height: 50px;
  }

  .code{
    width: 18em;
    padding: 1rem;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    background: blue;
    border-radius: 5px;
  }