.container{
    background-color: #BEAEE2;
    width: 40rem;
    height: 50rem;
    border-top: 5rem solid #B199D9; 
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;

}

.title{
    font-family: "Space Mono", monospace;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    flex-direction: column;
}

.articles{
    margin: 1rem;
}

.subArticles{
    margin: 1rem;
}

.lines{
    margin: 1rem;
}

@media (max-width: 850px) {
    .container{
        width: 25rem;
        height: 100%;
    }
    
  }

  @media (max-width: 530px) {
    .container{
        width: 15rem;
        height: 100%;
        border-top: 2.5rem solid #B199D9; 
    }
    
    .articles{
        margin: 0.2rem;
    }
    
    .subArticles{
        margin: 0.2rem;
    }
    
    .lines{
        margin: 0.5rem;
    }

    .title{
        margin: 1rem;
        font-size: 23px;
    }
  }