@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

.nav {
  font-family: "Patua One", cursive;
  display: flex;
  flex: 1;
  padding: 1rem;
  background: #BEAEE2;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  align-self: center;
}

.item_nav{
  display: flex;
  align-items: center;
  cursor: pointer;
}
