.nav {
  font-family: "Patua One", cursive;
  font-size: 23px;
  display: flex;
  flex: 1;
  padding: 0.7rem;
  background: #BEAEE2;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  align-self: center;
}

.item_nav{
  display: flex;
  align-items: center;
  cursor: pointer;
}
