.nav {
  background: #BEAEE2;
  font-family: "Patua One", cursive;
  justify-content: center;
  display: flex;
  flex: 1;
  align-items: center;
  align-content: center;
  align-self: center;
}

.container_nav{
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  align-self: center;
}

.item_nav{
  font-size: 23px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
