@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #171717e0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
