@import url("https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto+Mono:wght@200&family=Space+Mono&display=swap");
 
.container {
  padding: 0 2rem;
}

.main {
  min-height: 95vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}